
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarColor01">

      <ul class="navbar-nav me-auto">

        <li class="nav-item">
          <a class="nav-link" href="/student/studentProfile">My profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/student/createTeam">Create Your Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/logout">Logout</a>
        </li>

      </ul>

    </div>
  </div>
</nav>

<br>

<h4 style="text-align: center">Available themes</h4>
<br>
<form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-secondary" type="submit">Search</button>
</form>


<table id="studentThemesTable" class="table table-hover">
  <thead>
    <% let headers = ['Title', 'Expiry Date', 'Apply']; %>
    <% headers.forEach(headerText => { %>
        <th scope="col"><%= headerText %></th>
    <% }); %>
  </thead>
  <tbody>
      <% themes.forEach(function(theme) { %>
      <%  var today = new Date(); %>

      <% //prikazuje samo teme NOVIJEG DATUMA i one koje su SLOBODNE  %>
      <%  if (theme.expiryDate >= today && theme.isAvailable == true) { %>
          <tr class="table-light">
            <td><a href="/student/theme/<%= theme.title %>"><%= theme.title %></a></td>
            <td><%= theme.expiryDate %></td>
            <td><button type="submit" class="btn btn-primary">Apply</button></td>
        </tr>
      <%  } %>

    <% }); %>


  </tbody>
</table>

<!-- <p class="lead mb-3"><%= student %> </p> -->
