<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">Theme Page</h1>

      <form action="/student/theme" method="POST">

        <div class="form-group">

          <dl class="dl-horizontal">

            <dt>Title: </dt>
            <dd><%= theme.title %></dd>

            <dt>Description: </dt>
            <dd><%= theme.description %></dd>

            <dt>Is Available: </dt>
            <dd><%= theme.isAvailable %></dd>

            <dt>Professor: </dt>
            <dd><%= professor.name %> <%= professor.surname %></dd>

            <dt>Expiry Date: </dt>
            <dd><%= theme.expiryDate %></dd>

          </dl>

        </div>

        <% if (user.role== "professor") { // role='student' %>

        <h5>Teams Applied:</h5>
        <div class="form-group">

          <% teams.forEach(function(team) { %>
            <div class="form-check">
              <input type="checkbox" class="radio" name="checkedTeam" >
              <label class="form-check-label" for="flexCheckDefault"><%= team.name %></label>
            </div>
          <% }); %>
        </div>

        <button type="submit" class="btn btn-primary">Approve</button>

        <% } %>

      </form>

    </div>
  </div>
</div>
